＊{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 15px 0;
    background-color: #e6e6e6;
    text-align: center;
    margin-top: 100px;
}

header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
}

header h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-left: 700px;
}

a{
    text-decoration: none;
    color: #4b4b4b;
}

nav{
    margin: auto 0 auto auto;
    font-size: 20px;
}

.login,
a.login{
    color: #fff;
    background-color: #e6e6e6;
    border-radius: 50vh;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
.login:hover,
a.login:hover{
    color: #fff;
    background-color: #c0c0c0; 
} 

.new--user,
a.new--user{
    background-color: #e6e6e6;
    border-radius: 100vh;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

}
.new--user:hover,
a.new--user:hover{
    color: #fff;
    background-color: #a9a9a9; 
} 
