＊{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 15px 0;
    background-color: #fff;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Rubik', sans-serif;
}

header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #6E6E6E;
    min-width: 1100px;
}

header h1{
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 42px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #4b4b4b;
}

nav{
    margin: auto 0 auto auto;
    font-size: 20px;
}

.login{
    position: absolute;
    right: 1em;
    padding-top: 6px;
    align-items: center;
    color: #fff;
    background-color: #e6e6e6;
    width: 120px;
    height: 35px;
    border-radius: 8px;
    /*-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);*/
}

.login:hover{
    color: #fff;
    background-color: #c0c0c0; 
} 

.new--user,
a.new--user{
    position: absolute;
    right: 1em;
    padding-top: 6px;
    background-color: #e6e6e6;
    width: 120px;
    height: 35px;
    border-radius: 8px;
   /* -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);*/

}
.new--user:hover,
a.new--user:hover{
    color: #fff;
    background-color: #a9a9a9; 
} 


img{
    width: 128px;
    height: 180px;
    object-fit: contain;
}

h2{
    margin: 0;
    text-align: left;
    font-size: 1.7em;
    letter-spacing: 1px;
}

h3{
    margin: 0;
    font-size: 1.05em;
}

form{
    padding: 10px;
    margin: 0 25%;
    text-align: left;
}

form p{
    margin:0;
    margin-top: 10px;
}

input {
    margin: auto;
    background-color: #eee;
    border: 1px solid transparent;
    border-radius: 6px;
    color: inherit;
    height: 2em;
    width: 100%;
    outline: 0;
}

input:focus {
    border: 1px solid #0f93ff;
}

.button {
    margin: 10px auto;
    margin-left: calc(100% - 6em);
    width: 5em;
    border: none;
}

.button:hover,
.button:focus {
  background: #c0c0c0;
  border: none;
}

.maincontents{
    margin: 0 50px;
}

.navi_index{
    text-align: right;
}

.navi_index a{
    font-size: 1.1em;
    margin-right: 0.5em;
}

.shelf{
    margin: 1em 0;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.book{
    margin: 2em;
}

.shelf .books{
    display: flex;
    min-height: 210px;
}

.shelf .book{
    margin: 1px 18px;
}

.shelf a{
    margin-top: 0.2em;
}

.title{
    text-align: left;
}

.nofication{
    font-size: 1.1em;
}

.add_link{
    text-align: right;
    margin-right: 1.5em;
    margin-top: 1em;
    font-size: 1.3em;
}

.back_link{
    text-align: left;
}

.search{
    white-space: nowrap;
    margin: 0 15%;
    align-items: center;
}

.search input{
    background-color: transparent;
    height: 3em;
    border-radius: 1.5em;
    border: 1px solid #a0a0a0;
}

.search .button{
    margin: 0;
    width: 3.1em;
    height: 3.1em;
}

.book_list{
    display: flex;
    flex-wrap:wrap;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #f2f2f2;
}
