<h1>Google Books API</h1>

<% @data.each do |data| %>
    id:<%= data.id %><br>
    title:<%= data.title %><br>
    thumbnail url:<%= data.thumbnail %><br>
    link:<%= data.link %><br>
    <br>
<% end %>